<template>
  <div id="form">
    <el-card shadow="hover">
      <div slot="header" class="clearfix">
        <span>Create New Insurer</span>
        <el-button
          style="float: right"
          type="success"
          round
          size="small"
          @click.prevent="saveForm($store.getters.formSchema)"
        >Save Form</el-button>
      </div>
      <el-form :model="riskForm">
        <el-form-item>
          <el-input v-model="riskForm.insurerName" placeholder="Enter Risk Insurer Name"></el-input>
        </el-form-item>
      </el-form>
    </el-card>
    <br>
    <el-row :gutter="10">
      <el-col :span="12">
        <el-card shadow="hover">
          <div slot="header" class="clearfix">
            <span>Add New Fields to Form</span>
          </div>
          <el-form ref="form" :model="form" label-width="120px">
            <el-form-item label="Form Field name" prop="formName">
              <el-input v-model="form.name" placeholder="Enter Form Name"></el-input>
            </el-form-item>
            <el-form-item>
              <el-checkbox v-model="form.required">Required</el-checkbox>
            </el-form-item>
            <el-form-item label="Form Field Type">
              <el-select v-model="form.type" placeholder="Select Field Type">
                <el-option label="Text" value="text"></el-option>
                <el-option label="Number" value="number"></el-option>
                <el-option label="Password" value="password"></el-option>
                <el-option label="Text Area" value="textarea"></el-option>
                <el-option label="Email" value="email"></el-option>
                <el-option label="Checbox" value="checkbox"></el-option>
                <el-option label="Select" value="select"></el-option>
                <el-option label="Radio" value="radio"></el-option>
                <el-option label="URL" value="url"></el-option>
              </el-select>
            </el-form-item>
            <div v-if="hasOptions">
              <el-form-item label="Options Count">
                <el-input-number v-model="optionsCount" :min="1"></el-input-number>
              </el-form-item>
              <el-form-item v-for="i in optionsCount" :key="i" :label="'Enter Option ' + i">
                <el-input size="mini" :placeholder="'Option ' + i" v-model="form.options[i]"></el-input>
              </el-form-item>
            </div>
            <el-button @click.prevent="addUpForm()">Add & Clear</el-button>
            <el-button @click.prevent="resetForm()">Reset</el-button>
          </el-form>
        </el-card>
      </el-col>
      <el-col :span="12">
        <el-card shadow="hover">
          <div slot="header" class="clearfix">
            <span>Insurer Form Preview</span>
          </div>
          <el-form label-width="120px">
            <insurer-form :jsonFormSchema="$store.getters.formSchema"></insurer-form>
          </el-form>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import Form from "./../components/Form";

/* eslint-disable */
export default {
  components: { "insurer-form": Form },
  data() {
    return {
      form: {
        name: "",
        type: "checkbox",
        required: true,
        options: []
      },
      optionsCount: 1,
      riskForm: {
        insurerName: "",
        fields: []
      }
    };
  },
  computed: {
    hasOptions() {
      if (
        this.form.type === "checkbox" ||
        this.form.type === "radio" ||
        this.form.type === "select"
      ) {
        return true;
      }
      return false;
    }
  },
  methods: {
    addUpForm() {
      let form = Object.assign({}, this.form);
      form.model = form.name.toLowerCase();
      form.label = form.name.charAt(0).toUpperCase() + form.name.slice(1);
      // Remove null from options value list
      form.options = form.options.filter(option => {
        if (option != null) {
          return option;
        }
      });
      // Change inputType for some inputs
      if (
        ["text", "number", "textarea", "url", "password", "email"].includes(
          form.type
        )
      ) {
        form.inputType = form.type;
        form.type = "input";
        form.placeholder = `Please enter ${form.model}`
      }
      // Extra property for select
      if (form.type == "select") {
        form.values = form.options
        form.placeholder = `Please select ${form.model}`
      }
      // Extra property for checkbox
      if (form.type == "checkbox") {
        form.type = "checklist";
        form.values = form.options
        form.multiselect = true
        form.multi = true
        form.placeholder = `Please select ${form.model}`
      }
      // Extra property for radio
      if (form.type == "radio") {
        form.type = "radios";
        form.values = form.options
        form.placeholder = `Please select ${form.model}`
      }
      this.riskForm.fields.push(form);
      this.$store.commit("updateFormSchema", this.riskForm);
      this.resetForm();
    },
    resetForm() {
      this.form.name = "";
      this.form.type = "checkbox"
      this.form.options = []
      this.required = true;
    },
    saveForm(schema) {
      axios
        .post(this.$store.getters.endpoint, {
          name: schema.groups[0].legend,
          fields: schema.groups[0].fields
        })
        .then(response => {
          this.successNotify();
          console.log(response);
          this.$router.go(-1)
        })
        .catch(error => {
          this.failedNotify();
          console.log(error);
        })
      this.$store.commit("updateFormSchema", {})
    },
    successNotify() {
      this.$notify({
        title: "Success",
        message: "Form Posted!",
        type: "success"
      });
    },
    failedNotify() {
      this.$notify.error({
        title: "Failed",
        message: "Posting Error!",
        type: "success"
      });
    }
  }
};
</script>
