<template>
    <el-row :gutter="10">
      <el-col
        :span="8"
        v-for="(form, i) in forms"
        :key="i"
        :v-if="i%3==0"
        style="padding: 10px 10px 10px 10px"
      >
        <el-card shadow="hover" class="box-card">
          <div slot="header" class="clearfix">
            <span>{{ form.name }}</span>
            <el-button
              style="float: right"
              type="text"
              disabled
            >Total Responses: {{ form.responses.length }}</el-button>
          </div>

          <!-- Table -->
          <el-button
            @click.prevent="showTable(form.columns, form.responses)"
            style="float: right"
          >View Responses</el-button>

          <el-dialog title="Insurer Responses" :visible.sync="dialogTableVisible">
            <vue-good-table :columns="tableColumns" :rows="tableRows" :search-options="{enabled: true}" />
            <download-excel :data="excelRow" :fields="excelCol" name="Responses.xls">
            <el-button type="success"
            >Download Responses</el-button>
            </download-excel>

          </el-dialog>

          <!-- Form -->
          <el-button @click.prevent="showForm(form.formSchema, form.id)">View Form</el-button>

          <el-dialog title="Insurer Form" :visible.sync="dialogFormVisible" center>
            <insurer-form :jsonFormSchema="formSchema"></insurer-form>
            <span slot="footer" class="dialog-footer">
              <el-button @click.prevent="dialogFormVisible = false">Close</el-button>
              <el-button type="primary" @click.prevent="submitForm($store.state.models)">Submit</el-button>
            </span>
          </el-dialog>
        </el-card>
      </el-col>
    </el-row>
</template>

<script>
import Form from "./../components/Form";
import { VueGoodTable } from "vue-good-table";
import DownloadExcel from "./../components/DownloadExcel"
import DownloadExcelVue from '../components/DownloadExcel.vue';

export default {
  components: { "insurer-form": Form, VueGoodTable, "download-excel": DownloadExcel },
  data() {
    return {
      dialogTableVisible: false,
      dialogFormVisible: false,
      formSchema: null,
      insurerId: null,
      tableColumns: null,
      tableRows: null,
      excelCol: {},
      excelRow: null
    };
  },
  computed: {
    forms() {
      return this.$store.state.forms;
    }
  },
  methods: {
    showTable(columns, rows) {
      this.tableColumns = columns
      this.tableRows = this.excelRow = rows
      this.dialogTableVisible = true
      columns.map(col => {
        this.excelCol[col.label.toUpperCase()] = col.field
      })
    },
    showForm(formSchema, insurerId) {
      this.formSchema = formSchema;
      this.dialogFormVisible = true;
      this.insurerId = insurerId;
    },
    submitForm(modelResponse) {
      axios
        .post(this.$store.getters.responsesEndpoint, {
          insurer: this.insurerId,
          response: { ...modelResponse }
        })
        .then(response => {
          this.successNotify();
          this.dialogFormVisible = false;
          this.fetchData();
          console.log(response);
        })
        .catch(error => {
          this.failedNotify();
          console.log(error);
        });
    },
    successNotify() {
      this.$notify({
        title: "Success",
        message: "Form Posted!",
        type: "success"
      });
    },
    failedNotify() {
      this.$notify.error({
        title: "Failed",
        message: "Posting Error!",
        type: "success"
      });
    },
    loader(close) {
      if (close) {
        return
      }
      this.$loading({
        lock: true,
        text: "Loading",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
    },
    fetchData() {
      axios.get(this.$store.getters.endpoint).then(response => {
        this.$store.commit("updateForms", response.data);
        this.$store.commit("updateModel", {});
      });
    }
  },
  mounted() {
    this.fetchData();
  }
};
</script>