<template>
  <div class="panel-body">
    <form>
      <vue-form-generator :schema="$props.jsonFormSchema" :model="models" :options="formOptions"></vue-form-generator>
    </form>
  </div>
</template>

<script>
export default {
  props: [ 'jsonFormSchema' ],
  data() {
    return {
      formOptions: {
        validateAfterLoad: true,
        validateAfterChanged: true,
        validateAsync: true
      }
    }
  },
  computed: {
    // Two way data binding with Vuex
    models : {
      get () {
        return this.$store.state.models
      },
      set (newModel) {
        return this.$store.commit('updateModel', newModel)
      }
    }
  },
  methods: {
  }
};
</script>
