<template>
  <div id="app">
    <div id="nav">
    <el-menu :default-active="activeIndex" :router=true class="el-menu-demo" mode="horizontal">
      <el-menu-item index="/">Insurer Forms</el-menu-item>
      <el-menu-item index="/build">Build Insurer Form</el-menu-item>
    </el-menu>
    </div>
    <router-view/>
  </div>
</template>
<script>
  export default {
    data() {
      return {
        activeIndex: '/',
      };
    },
    methods: {
    }
  }
</script>